*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(to right, rgb(162, 198, 238), rgb(65, 94, 226));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.container {
  margin-top: 70px;
  max-width: 90%;
  width: 1200px;
}

.content {
  padding: 20px;
  margin-top: 40px;;
}

.header {
  font-size: 23px;
  color: white;
  background-color: black;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.icon-container {
  position: relative;
  top:50px;
  padding: 20px;
  width: 140px;
  height: 140px;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
}

.general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.status {
  font-size: 3rem;
  font-weight: bold;
}

.location {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 10px;
}

.detail-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  padding: 10px;
}

.detail .title {
  font-size: 2rem;
  flex-grow: 1;
  font-weight: bold;
  color: black;
}

.detail.bordered {
  border-left: 1px solid #777;
  border-right: 1px solid #777;
}

.detail.bordered2 {
  border-right: 1px solid #777;
}

.city-search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.city-search {
  margin-top: 20px;
  font-size: 2rem;
  outline: none;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
}

.btn {
  background-color: rgb(178, 228, 248);
  color: black;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  padding: 5px;
  border-radius: 5px;
  font-size: 25px;
  letter-spacing: 3px;
}

.flex-container {
  display: flex;
  margin: 30px;
  gap:20px;
  height: 200px;
  width: 1100px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
  background: linear-gradient(to right, rgb(172, 126, 245), rgb(49, 26, 252));
  color: black;
  padding: 20px;
  max-width: 90%;
  width: 1200px;
  border-radius: 5px;
}

.default-bg {
  background-color: rgb(156, 149, 255);
}

.green {

}

.yellow {

}

.red {

}

.hidden {
  display: hidden;
}
